PORTA_POSTGRESQL=5432
NOME_BANCO=trilha_aprovacao
USUARIO_BANCO=trilha_aprovacao
SENHA_BANCO=altere_esta_senha_local
PORTA_BACKEND=8080
VITE_ALVO_API=http://localhost:8080
VITE_ASSISTENTE_TELEGRAM_HABILITADO=false
ASSISTENTE_TELEGRAM_HABILITADO=false
IDENTIFICADOR_DO_BOT_TELEGRAM=0
SEGREDO_DE_HASH_DA_AUTOMACAO=
CHAVE_DO_GATEWAY_OPENCLAW=
VALIDADE_DO_CODIGO_DO_TELEGRAM=PT10M
VALIDADE_DA_CREDENCIAL_MCP=P90D
